body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }


  .container {
    font-size: 30px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  
  .glow-text {
    font-size: 48px;
    font-weight: bold;
    color: #fff; /* Initial text color */
    text-shadow: 0 0 10px #2ec117, /* The glow effect color and size */
                 0 0 20px #2ec117,
                 0 0 30px #2ec117;
    animation: glowing 2s ease-in-out infinite; /* The animation properties */
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0 0 10px #2ec117,
                   0 0 20px #2ec117,
                   0 0 30px #2ec117;
    }
    50% {
      text-shadow: 0 0 20px #2ec117,
                   0 0 30px #2ec117,
                   0 0 40px #2ec117;
    }
    100% {
      text-shadow: 0 0 10px #2ec117,
                   0 0 20px #2ec117,
                   0 0 30px #2ec117;
    }
  }

  ul {
    list-style-position: inside; /* Move the bullets inside the list item */
    padding-left: 0; /* Remove the default padding of the ul */
  }
  
  li {
    list-style: disc; /* Set the style of the bullets (disc, circle, square, etc.) */
    margin: 10px 0; /* Add some space between list items (optional) */
  }
  