

body{
  width:100%;
  height:100%;
}
.storytile{
  position:fixed;
  background:rgb(114, 107, 211);
  border:2px gray ridge;
  border-radius:5px;
  padding:5px;
  font-family:Share Tech Mono;
  margin-bottom:20px;
  width:100%;
  height:100%;
}
.innertile1{
  background:rgb(114, 107, 211);
  border-radius:5px;
  width:100%;
  height:100%;
  color:black;
}
.inner-text{
  text-align:center;
}
button{
  margin:20px;
}

@media (max-width: 768px) {
  .innertile1
  {
    color: white;
  }
  button{
    color: red;
    margin: 10px; /* Adjust the margin as needed */
    width: calc(100% - 20px); /* Calculate the width to account for margins */
    font-size: 14px; /* Adjust the font size for mobile readability */
    white-space:normal !important;
    word-wrap:break-word;
   height: auto; /* Let the button height adjust based on text */
  }
  
}


